@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-main;
  }
  .pageMargin {
    @apply container mx-auto;
  }
  .hero {
    @apply text-[60px] font-bold text-main;
  }
  .headings {
    @apply text-2xl text-main;
  }
  .body {
    @apply text-base;
  }
  .service {
    @apply text-lg;
  }
  .home-overlap {
    width: calc(100% + 500px);
    right: -500px;
  }
  .about-intro-custom-width {
    width: calc(50% + 500px);
    left: -500px;
  }
}
